@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");
@font-face {
	font-family: 'title';
	src: url('fonts/arkipelago/arkipelago-webfont.eot');
	src: url('fonts/arkipelago/arkipelago-webfont.otf')
			 format('opentype');
	src: url('fonts/arkipelago/arkipelago-webfont.ttf')
			 format('truetype');
	}


/*reset*/
html, body {
	height: 100% !important;
}

.main-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	background-image: url('../img/spinner.svg');
	background-size: 100%;
	width: 80px;
	height: 80px;
	box-shadow: 0 0 40px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,0.05);
	-ms-box-shadow: 0 0 40px rgba(0,0,0,0.05);
	-o-box-shadow: 0 0 40px rgba(0,0,0,0.05);
	z-index: 999999;
}

.navbar-toggler {
	border-color: #fff;
	color: #fff;
}

.navbar-toggler i {
	font-size: 30px;
}

.row.col-spacing {
	margin-left: -25px;
	margin-right: -25px;
}

.row.col-spacing [class^="col-"] {
	padding-left: 25px;
	padding-right: 25px;
}

.overlay {
	background-color: #000;
	opacity: .85;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*article read*/
.article-read {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 20px;
	z-index: 99999;
	overflow: auto;
}

.article-read .article-read-inner {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	padding: 50px 0 100px 0;
	width: 70%;
}

.article-read .article-back {
	margin-bottom: 30px;
}

.article-read .article-back .btn {
	border-color: #999;
	color: #999;
	text-transform: uppercase;
	font-weight: 800;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	padding: 10px 25px;
	cursor: pointer;
	font-size: 14px;
}

.article-read .article-back .btn i {
	margin-right: 5px;
}



.article-read .article-title {
	font-size: 30px;
	font-weight: 800;
}

.article-read .article-metas {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

.article-read .article-metas .meta {
	float: left;
	padding-right: 15px;
	font-size: 12px;
	text-transform: uppercase;
	color: #999;
	letter-spacing: 1px;
}

.article-read .article-picture {
	width: 100%;
	margin-bottom: 20px;
}

.article-read .article-picture img {
	width: 100%;
}

.article-read .article-content {
	line-height: 28px;
}
/*navbar*/
.navbar.main-navbar {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	z-index: 3;
}

.navbar.main-navbar.bg-dark {
	background-color: #000 !important;
}

.navbar.main-navbar .navbar-brand {
	width: 150px;
	padding: 0;
	line-height: 0;
}

.navbar.main-navbar .navbar-brand img {
	width: 100%;
}

.navbar.main-navbar .nav-link {
	color: #fff;
	padding: 0 20px;
	font-size: 14px;
	letter-spacing: 1px;
	color: rgba(255,255,255,.75);
	position: relative;
	transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
}

.navbar.main-navbar .nav-link:after {
	content: ' ';
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	height: 2px;
	width: 0;
	background-color: #fff;
	transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
}

.navbar.main-navbar .nav-link:hover {
	color: #fff;
}

.navbar.main-navbar .nav-link:hover:after {
	width: 20px;
}

.navbar.main-navbar .nav-item.active .nav-link {
	color: #fff;
}

.navbar.main-navbar .nav-item.active .nav-link:after {
	width: 20px;
}

.navbar.main-navbar .form-inline {
	margin-left: 15px;
}

.navbar.main-navbar .form-inline .btn {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-width: 2px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	letter-spacing: 1px;
	background-color: transparent;
	border-color: #fff;
}

.navbar.main-navbar .form-inline .btn:hover {
	background-color: #fff;
	color: #000;
	opacity: 1;
}

h2, h5, h6 {
		font-family: Brandon_blk,HelveticaNeue-Light,"Helvetica Neue Light",sans-serif;
		font-weight: 900;
		line-height: 1.5;
		letter-spacing: 0.075em;
		text-transform: uppercase;
		margin: 0 0 1rem 0;
}

h4 {
			font-family: Brandon_blk,HelveticaNeue-Light,"Helvetica Neue Light",sans-serif;
			font-weight: 100;
			line-height: 1.5;
			letter-spacing: 0.075em;
			text-transform: sentence;
			margin: 0 0 1rem 0;
			color: #fff;
			z-index: 999999;
	}

/*hero*/
img {
    height: auto;
    max-width: 100%;
}

.hero {
	font-family: Brandon_blk,HelveticaNeue-Light,"Helvetica Neue Light",sans-serif;
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 1.075em;
	text-transform: sentence;
	height: 100%;
  color: #fff;
	position: relative;
	background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

.hero .text {
	position: absolute;
	padding: 6vw !important;
	top: 55%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%); -webkit-transition: opacity 1.5s ease, -webkit-transform 0.5s ease-out, -webkit-filter 0.5s ease, -webkit-filter 0.5s ease;
	-moz-transform: translateY(-50%); -moz-transition: opacity 1.5s ease, -moz-transform 0.5s ease-out, -moz-filter 0.5s ease, -webkit-filter 0.5s ease;
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%); -ms-transition: opacity 1.5s ease, -ms-transform 0.5s ease-out, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
	transition: opacity 1.5s ease, transform 0.5s ease-out, filter 0.5s ease, -webkit-filter 0.5s ease;
	z-index: 1;
	text-align: left;
	items-align: center;

}

.hero .text h1 {
	margin: 0;
	font-size: 55px;
	font-weight: 300;
	letter-spacing: .5px;
	line-height: 1.3em;
}

.hero .text h1 .bold {
	font-weight: 600;
}

.hero .text p.lead {
	margin-bottom: 20px;
	text-transform: capitalize;
	letter-spacing: 1.5px;
	line-height: 0;
	font-size: 16px;
}

.hero .cta {
	margin-top: 40px;

}

.hero .cta .btn {
	padding: 15px 20px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1.3px;
	font-weight: 600;
	z-index: 1;
}

.hero .cta .btn.btn-primary {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.hero .cta .btn.btn-link {
	color: #fff;
}

.hero .cta .btn.btn-link i {
	margin-right: 5px;
}

.hero .cta .link {
	margin-top: 15px;
}

.hero .cta .link a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	text-transform: none;
	color: #999;
	font-weight: 600;
	letter-spacing: .3px;
}

/*social button*/
.fa {

		padding-top: 30px;
		width: 30px;
		text-align: center;
    text-decoration: none;
		}

.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    color: white;
}

/* Instagram */
.fa-instagram {
    color: white;
}

/* Twitter */
.fa-twitter {
    color: white;
}

/* SoundCloud */
.fa-soundcloud {
    color: white;
}

/* Youtube */
.fa-youtube {
    color: white;
}

/*section*/
section {
	position: relative;
}

section.bg-grey {
	background-color: #f9f9f9;
}

section.bg-reverse {
	background-color: #000;
}

section.bg-overlay {
	background-color: rgba(0,0,0,0.85);
}

section.padding {
	padding: 100px 0;
}

section#music {
	padding-bottom: 70px;
}

section .section-title {
	font-size: 34px;
	}

section .section-lead {
	font-size: 18px;
	font-weight: 200;
	margin-top: 15px;
}

section .section-body {
	margin-top: 60px;
}


/*list*/
.list-item {
	display: flex;
	display: -webkit-flex;
	width: 100%;
}

.list-item.no-spacing {
	padding-bottom: 0;
}

.list-item .icon,
.list-item .desc {
	flex: 1;
	-webkit-flex: 1;
}

.list-item .icon {
	flex: 0 0 65px;
	-webkit-flex: 0 0 65px;
	font-size: 45px;
	line-height: 0;
	color: #ccc;
}

.list-item .desc h2 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: .5px;
	margin-bottom: 10px;
}

.list-item .desc p {
	line-height: 28px;
	font-size: 16px;
	margin-bottom: 0;
}

.list-item .desc .more {
	display: inline-block;
	margin-top: 10px;
}

/*listen*/
.embed-responsive {
				border: none;
				box-shadow: 0 0 40px rgba(0,0,0,.05);
				-webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
				-moz-box-shadow: 0 0 40px rgba(0,0,0,.05);
				-ms-box-shadow: 0 0 40px rgba(0,0,0,.05);
				-o-box-shadow: 0 0 40px rgba(0,0,0,.05);
				margin-bottom: 1px;
				width: auto;
				height: 191px;
				}
.embed-responsive {
			  -webkit-transition: 0.6s ease;
				transition: 0.6s ease;
				}
.embed-responsive :hover {
				opacity:0.8;
				-moz-opacity:0.8;
				-webkit-opacity: 0.8;
				}

article.card {
	border: none;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,.05);
	-ms-box-shadow: 0 0 40px rgba(0,0,0,.05);
	-o-box-shadow: 0 0 40px rgba(0,0,0,.05);
	margin-bottom: 60px;
}

article.card .card-img-top {
	height: 100%;
}

article.card .card-title {
	font-size: 20px;
	line-height: 28px;
}

article.card .card-title a {
	color: #000;
	text-decoration: none;
}

article.card .card-title a:hover {
	opacity: .8;
}

article.card .card-text {
	color: #666;
	line-height: 26px;
}

article.card .card-subtitle {
	font-size: 14px;
	color: #666;
}

article.card .card-subtitle a {
	color: #666;
	text-decoration: none;
}


/*instaimg*/
.instaimg img {margin-bottom:30px;}
.instaimg img {
				object-fit: cover;
				width: 100%;
				height: 255px;
			 	}
.instaimg img {
		 -webkit-transition: 0.4s ease;
		 transition: 0.4s ease;
		 }
.instaimg img:hover {
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity: 0.8;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
		}

/*footer*/
footer {
	padding: 80px 0 60px 0;
	text-align: center;
	background-color: #000;
	color: #fff;
}

footer figure {
	width: 120px;
	margin: 0 auto;
	margin-bottom: 30px;
}

footer figure img {
	width: 100%;
}

footer p {
	font-weight: 600;
	letter-spacing: 1.5px;
	font-size: 12px;
	color: #777;
	margin-bottom: 10px;
	text-transform: uppercase;
}

footer i {
	color: #ff0000;
}

@media screen and (max-width: 768px) {

	.hero .text {
		left: 20px;
		right: 20px;
	}
	.navbar.main-navbar .navbar-collapse {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.navbar.main-navbar .navbar-nav .nav-item a {
		display: inline-block;
		padding: 10px 0;
	}
	.navbar.main-navbar .navbar-nav .nav-item a:after {
		display: none;
	}
	.navbar.main-navbar .form-inline {
		margin-left: 0;
	}
}

@media screen and (max-width: 576px) {
	.hero .text h1 {
		font-size: 34px;
	}
	.hero .text p.lead {
		line-height: normal;
	}
	.projects-picture {
		margin-bottom: 40px;
	}
		section.callout .text {
		text-align: center;
		margin-bottom: 20px;
	}
	section.callout .cta {
		text-align: center;
	}
	.row.col-spacing {
		margin-left: -15px;
		margin-right: -15px;
	}
	.row.col-spacing [class^="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
	.list-item {
		padding-bottom: 40px;
	}
}

@media screen and (max-width: 320px) {
	.article-read .article-read-inner {
		width: 80%;
	}
}
